.cont-h h2 {
  text-align: center;
  color: #a57d38;
  font-weight: bold;
  font-size: 30px;
}

.contact {
  /*background-color:white ;*/
  color: #353a3e;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #a57d38;
  background-color: #242d34;
}
.contact .photo-left {
  background-image: url(../images/contact-2.jpg);
  width: 100%;
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  text-align: center;
  display: flex;
  align-items: center;
}
.contact .photo-left div {
  color: #a57d38;
  width: 100%;
  padding: 0px 20px;
}
.contact .form-1 {
  display: flex;
  flex-direction: column;
}
.contact .form-2 {
  display: flex;
  flex-direction: column;
}
.contact .form-3 {
  display: flex;
  flex-direction: column;
}
.contact .form-4 {
  display: flex;
  flex-direction: column;
}
.contact .form-5 {
  display: flex;
  flex-direction: column;
}

form {
  width: 90%;
  font-size: 20px;
  font-weight: bold;
  margin: 20px 20px;
  padding: 20px;
  border: 1px solid #a57d38;
  background-color: #ffffff;
}
form input {
  width: 100%;
  color: #242d34;
  background-color: #ffffff;
  border: #737373 1px solid;
  padding: 0.2em;
  margin: 20px 0;
}
form textarea {
  width: 100%;
  height: 50px;
  background-color: #ffffff;
  color: #242d34;
}
form select#personen {
  background-color: #ffffff;
}
form select {
  width: 100%;
  padding: 10px;
  color: #a57d38;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  padding: 0.3em;
}
form input#absenden {
  margin-top: 20px;
  width: 100%;
  height: 50px;
  background: #a57d38;
  display: inline-block;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.5rem 3rem;
  border: none;
  border-radius: 0px;
  font-weight: 800;
  font-size: 30px;
}
form input#absenden:hover {
  color: #ffffff;
  background-image: linear-gradient(to bottom right, #a57d38, #242d34);
}
form input:hover:required {
  background-color: #a57d38;
}
form input:focus:invalid {
  background: #ffffff;
  color: #242d34;
}
form input:focus:valid {
  background-color: #242d34;
  color: #ffffff;
  font-weight: bold;
}

.form-2-2 {
  width: 100%;
  padding: 20px;
}
.form-2-2 #kontakt-2 {
  display: flex;
  flex-direction: column;
}
.form-2-2 #kontakt-2 #absenden {
  width: 100%;
  padding: 10px 0;
}
.form-2-2 #kontakt-2 h2 {
  color: #ffffff;
  text-align: center;
}
.form-2-2 #kontakt-2 .border-0 {
  border-radius: 0px;
}
.form-2-2 #kontakt-2 .border-0 a {
  color: #ffffff;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .margin-1 {
    margin-left: 15px;
  }

  .zero {
    margin: 20px 0px;
  }

  .contact {
    flex-direction: row;
    align-items: stretch;
  }
  .contact form {
    width: 50%;
  }
  .contact .photo-left {
    width: 50%;
    height: auto;
  }
  .contact .form-1 {
    flex-direction: row;
  }
  .contact .form-3 {
    flex-direction: row;
  }
  .contact .form-4 {
    flex-direction: row;
  }

  .form-2-2 {
    width: 50%;
  }
}

/*# sourceMappingURL=general-5.css.map */
